@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
    Layout = null;
}

<form id="logoutForm" method="post" asp-page-handler="Post">
    <noscript>
        <button type="submit">Logout</button>
    </noscript>
</form>

<script>
    document.getElementById('logoutForm').submit();
</script>